@import url(general.css);

.boxmodel__example-totalWidth {
    width: 500px;
    border: 5px solid;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-btn-boxmodel:hover, .menu-btn-boxmodel {
    background-color: var( --primary-button);
    color: var(--secondary-button);
}


